@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.product-rating-modal {
  width: 80%;
  max-width: 380px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  align-self: flex-start;
  text-align: left;
}

.close-button {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  align-self: flex-start !important;
  width: 20px;
}

.modal-body {
  /* Styles for modal body */
}

.rating-section {
  margin-bottom: 20px;
}

.recommendation-section,
.praise-section {
  margin-top: 20px;
}

.recommendation-options button {
  margin-right: 30px;
}
